# 2 Variables and Data Types
##### **Author: Adam Gatt**

## Variables
Variables in Python can be assigned without an explicit declaration of type or size. They can be re-assigned at any time, even to values of other data types.

In [ ]:
# my_var begins as a floating point number
my_var = 1.234
print(my_var)

# Now we use it to hold a string
my_var = 'Hello World'
print(my_var)

# Now we use it to hold a list
my_var = [10, 20, 30, 50, 100]
print(my_var)

1.234
Hello World
[10, 20, 30, 50, 100]

The basic data types of Python can be found here (https://www.tutorialsteacher.com/python/python-data-types) and include floating point numbers, integers, complex numbers, strings, tuples, lists, sets, dicts (dictionaries / maps), objects, functions and others.

You can find the data type of any variable by calling `type()`

In [ ]:
type(4/2) == float

True

In [ ]:
def addOne(x):
  return x+1

my_list = [
    5,
    5.0,
    5/2, # Python uses floating point division by default, even when inputs are int
    5//2, # Integer division can be used with //
    'Hello',
    False,
    [1, 2, 3],
    addOne
]

for entry in my_list:
    print('Data type of {} is {}'.format(entry, type(entry)))

Data type of 5 is <class 'int'>
Data type of 5.0 is <class 'float'>
Data type of 2.5 is <class 'float'>
Data type of 2 is <class 'int'>
Data type of Hello is <class 'str'>
Data type of False is <class 'bool'>
Data type of [1, 2, 3] is <class 'list'>
Data type of <function addOne at 0x7f9c555a6f28> is <class 'function'>

## None
Python uses a special 'None' type as a null-reference (a variable has no contents at all).
* You can test if a variable is None by using the syntax `is None` or `is not None`
* Variables only exist if they have been defined previosly. This counts for checking `if None`, so you can't use a null check to determine if the variable exists at all.

In [ ]:
none_test_1 = None
print(none_test_1)
print(type(none_test_1))
print(none_test_1 is None)
print(none_test_1 is not None)
print(none_test_2 is None) # Should throw an error as none_test_2 was not defined

None
<class 'NoneType'>
True
False

NameError: ignored

## Duck Typing
Python performs no checks to see if a variable is suitable for an attempted operation. It doesn't check whether the variable is suitable for a given operator or has a required function, it simply attempts the operation and sees what happens - if the result is an error then so be it. Python believes that _"If it walks like a duck and it quacks like a duck, then it must be a duck"_.

In [ ]:
from numpy import array

my_int = 10
my_str = 'abc'
my_array = array([[1, 2, 3], [4, 5, 6]])
my_set = {'Red', 'Green', 'Yellow', 'Orange'}

In [ ]:
print(my_int * 3)
print(my_str * 3)
print(my_array * 3)
print(my_set * 3)

30
abcabcabc
[[ 3  6  9]
 [12 15 18]]

TypeError: ignored

In [ ]:
print(len(my_set))
print(len(my_str))
print(len(my_int))

4
3

TypeError: ignored

## Strings
* Represent a sequence of characters
* Python does not have a base "character" type
* Strings can be enclosed with either `'` or `"` characters. Enclose in one style if your string needs to include the other as an actual character.
* Can concatenate strings with `+`
* Can retrieve a substring by providing indices (Python indices **begin from 0**, like C and unlike MATLAB)
* Useful functions: `len()`, `replace()`, `strip()`, `upper()`, `lower()`, `split()`, `join()`, `format()`

In [ ]:
'hat' == "hat"

True

In [ ]:
item = 'hat'

print("This is Adam's " + item)

print('Meera said "give me the {}" '.format(item))

This is Adam's hat
Meera said "give me the hat"

In [ ]:
your_name = 'John'
full_string = '    Hello to you, ' + your_name
cleaned_string = full_string.strip().lower()


print(full_string)
print(cleaned_string)
print(len(cleaned_string))

    Hello to you, John
hello to you, john
18

In [ ]:
print(cleaned_string[6:12]) # Starts from first index and ends just before second index
print(cleaned_string[:5]) # Omit the first index to begin from 0
print(cleaned_string[12:]) # Omit the second index to continue to the end
print(cleaned_string[-6:]) # Use a negative index to count backwards from the end of the string

to you
hello
, john
, john
, john

In [ ]:
'a b    c'.split()

['a', 'b', 'c']

In [ ]:
print(cleaned_string.replace(' ', '-'))
print('Joy to the world'.replace(' ', '-')) # Can call functions on string literals
print(cleaned_string.split())
print(cleaned_string.split(', ')) # Can provide a parameter to split around a custom substring

days_to_work = ['Mon', 'Tue', 'Fri']
print(f"I am working on {'/'.join(days_to_work)}")

hello-to-you,-john
Joy-to-the-world
['hello', 'to', 'you,', 'john']
['hello to you', 'john']
I am working on Mon/Tue/Fri

### String formatting
So far I have been showing the `.format()` function for placing values into strings ("formatting" or "interpolation"). You use it by including one or more placeholders `{}` and supplying the inserted values in the `format()` function.
```
name = 'Adam'
'There are {} characters in {}'.format(len(name), name)
```

You can specify which value to insert using positional or keyword indices. Examples below stolen from https://learnxinyminutes.com/docs/python3/.

```
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")
```

```
"{name} wants to eat {food}".format(name="Bob", food="lasagna")
```

You can also format using f-strings or formatted string literals (in Python 3.6+). These can include arbitrary Python expressions in each placeholder.
```
name = "Reiko"
f"{name} is {len(name)} characters long." # => "Reiko is 5 characters long."
```

## Lists
* A list is a sequence of values.
* Lists do not need to have a set size when they are declared or used (unlike arrays/vectors). They can grow and shrink over time if needed.
* The values in a list can be of any data type (even other lists), and do not even have to have the same data type.
* Lists can be concatenated and indexed in the same way as with strings.
* Useful functions: `len()`, `append()`, `extend()`, `insert()`, `copy()`

In [2]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep']
print(months)

months.insert(4, 'May') # Whoops! Forgot May (5th month is index 4)
print(months)

exciting_new_months = ['Oct', 'Nov', 'Dec']
print(months + exciting_new_months)

months.extend(exciting_new_months) # In-place concatenation of a list of extra values
print(months)
print(len(months))

['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
12

We can retrieve a particular element from a list by specifying a (zero-based) index within square brackets, the same as shown with strings above:
> `my_list[index]`

We can also retrieve a range of contiguous elements by specifying the start (inclusive) and end (exclusive) indices, separated with a colon:
> `my_list[start_index:end_index]`

In [3]:
print(months[3]) # What is the fourth month?
print(months[3:7]) # Months from index 3 (fourth month) to before index 7
print(months[-4:]) # Retrieve the last four months
print(months[0:12]) # Index 0 to len just retrieves the entire list
print(months[0:12:2]) # You can include a third value as a step size for your sub-list
print(months[::2]) # And in fact we can omit the first two values to use default start and end

Apr
['Apr', 'May', 'Jun', 'Jul']
['Sep', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']
['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']

Lists are held as references, like objects and unlike primitive values. Assigning an existing list variable to another variable will result in two references to the same list. Modifications to either variable will be apparent to both variables.

If we want the second variable to have its own independent list then we can use the `copy()` method on the list.

In [ ]:
adam_items = ['Notebook', 'Pen', 'Dell Laptop']
travis_items = adam_items
print('\n--- 1 ---')
print(travis_items)

travis_items[1] = 'Quill'
print('\n--- 2 ---')
print(travis_items)
print(adam_items)

# Clone the list instead of creating a second reference to the same list 
seb_items = adam_items.copy()
seb_items[2] = 'MacBook'
print('\n--- 3 ---')
print(seb_items)
print(adam_items)

# Take a "slice" that covers the entire list as a short-cut to copying it
anthony_items = adam_items[:]
anthony_items[2] = 'MacBook'
print('\n--- 3 ---')
print(anthony_items)
print(adam_items)

--- 1 ---
['Notebook', 'Pen', 'Dell Laptop']

--- 2 ---
['Notebook', 'Quill', 'Dell Laptop']
['Notebook', 'Quill', 'Dell Laptop']

--- 3 ---
['Notebook', 'Quill', 'MacBook']
['Notebook', 'Quill', 'Dell Laptop']

--- 3 ---
['Notebook', 'Quill', 'MacBook']
['Notebook', 'Quill', 'Dell Laptop']

In [ ]:
# Crazy example with different data types in one list
import datetime
my_list = [3, 'Hello', datetime.datetime, [1, 2, 3]]

print(my_list)
print(len(my_list)) # Length is 4 because the last element, although a list itself, is still a single item

[3, 'Hello', <class 'datetime.datetime'>, [1, 2, 3]]
4

## Sets
* A set is **unique** collection of values
* A set literal looks like: `{value_1, value_2, value_3, ...}`
* Useful functions: `union()`, `difference()`

In [ ]:
my_set = {'a', 'a', 'b', 'd', 'c', 'd'}
print(my_set)

to_exclude = {'d', 'e', 'f'}
print(my_set.difference(to_exclude))

{'c', 'd', 'b', 'a'}
{'c', 'b', 'a'}

In [ ]:
sorted_list = sorted(list(my_set))

mutated_list = list(my_set)
mutated_list.sort()

None

In [ ]:
# Set arithmetic operators
set_a = {1, 2, 3, 4}
set_b = {2, 4, 6, 8}

print(f"union = {set_a | set_b}")
print(f"intersection = {set_a & set_b}")
print(f"difference = {set_a - set_b}")
print(f"symmetric difference = {set_a ^ set_b}")

union = {1, 2, 3, 4, 6, 8}
intersection = {2, 4}
difference = {1, 3}
symmetric difference = {1, 3, 6, 8}

## Dicts (dictionaries)
* A dict is a collection of key-value pairs, with each key holding a value
* This is similar to a Map or a Javascript object, or a struct without a fixed schema
* A dict literal looks like `{key_1: value_1, key_2: value_2, key_3: value_3, ...}`
* You can set or retrieve a value in a dict by using its key as the index
* Keys in a dict are unique
* You can check the presence of a key by using `in`
* You can delete an entry from a dict by using the `del` operator
* Useful functions: `keys()`, `values()`, `items()`, `update()`, `dict()`

In [ ]:
character_sheet = {
    'name': 'Magrok',
    'class': 'Barbarian',
    'health': 20
}

# Indexing an item using the string literal 'name' as the key
print(character_sheet['name'])

# Indexing an item using the value of another variable
stat_to_display = 'health'
print('Value of {} is {}'.format(stat_to_display, character_sheet[stat_to_display]))

# Can change a value by indexing into its key
character_sheet['class'] = 'Druid'
print(character_sheet)

Magrok
Value of health is 20
{'name': 'Magrok', 'class': 'Druid', 'health': 20}

In [ ]:
# update() adds the contents of one dict into another
character_sheet.update({
    'petrified': True,
    'items': ['Sword', 'Cloak', 'Potion']
})

print(character_sheet)
print(character_sheet.keys())

print('Is health in my sheet? {}'.format('health' in character_sheet))

del character_sheet['name']
print('Have I forgotten my name? {}'.format('name' not in character_sheet))

{'name': 'Magrok', 'class': 'Druid', 'health': 20, 'items': ['Sword', 'Cloak', 'Potion'], 'petrified': True}
dict_keys(['name', 'class', 'health', 'items', 'petrified'])
Is health in my sheet? True
Have I forgotten my name? True
{}

In [ ]:
# You can create an empty dictionary with dict()
print(dict())

{}

## Tuples
A tuple represents two or more values presented together at the same time. Whereas a list represents a series of items, a tuple is conceptually closer to a single, compound item. Examples might be
* A (latitude, longitude) pair
* An (x, y, z) position
* A (red, green, blue, alpha) colour value

Tuples have an assumed ordering to its components. If labels are required to make them understandable then a `dict` is likely a better choice.

* Tuples are indexed in the same way as strings and lists
* Useful functions: `len()`, `count()`

Brackets are tricky because they are also used for sub-expressions in Python, e.g. `x = (1 + 4) * 5`. If you want a tuple with a single component then you must include a trailing comma after it.
* `my_name = ('Adam') # Evaluates to 'Adam'`
* `my_name_in_a_tuple = ('Adam',) # Evaluates to ('Adam',)`

In [ ]:
from math import atan2, pi

def linear_to_radial(x_y_coordinate):
  # Unpack tuple into separate variables. More on this in a later module.
  x, y = x_y_coordinate
  # ** is Python's "raise to the power" operation
  magnitude = ((x**2) + (y**2))**0.5
  angle = atan2(y, x)
  return (magnitude, angle)
  # To be more explicit, we could return a dict {'magnitude': magnitude, 'angle': angle}

linear_coord = (4, 3)
radial_coord = linear_to_radial(linear_coord)
print('Magnitude is {}, angle is {} degrees'.format(radial_coord[0], radial_coord[1]*180/pi))

Magnitude is 5.0, angle is 36.86989764584402 degrees

In [ ]:
# Fails as we want 1 input that is a tuple, not 2 seperate coordinate inputs
radial_coord_2 = linear_to_radial((12, 1))
radial_coord_2

(12.041594578792296, 0.08314123188844123)

Tuples are immutable by nature. They conceptually represent a single value and so you shouldn't be able to mess around with its internal components by changing a value or adding on to it. The alternative is to create another tuple based on the first, but with the required changes.

Tuples have no `copy()` but you can slice `[:]` for same effect. But since tuples are immutable there is little value in doing so.

In [1]:
white_with_mistake = (255, 255, 128)

# Whoops, our blue value should be 255. Let's try to fix it.
white_with_mistake[2] = 255

TypeError: ignored

In [2]:
# We fix by making a new tuple with the same values and a correction
white = (white_with_mistake[0], white_with_mistake[1], 255)
print(white)

(255, 255, 255)

In [3]:
'''
We can save space by taking a slice of the first two components and "unpacking"
it with *. More on unpacking in a later module.
'''
white = (*white_with_mistake[:2], 255)
print(white)

(255, 255, 255)

In [4]:
# Let's add an alpha channel
white[3] = (0.5,)

TypeError: ignored

In [5]:
# Let's add an alpha channel
white += (0.5,)
print(white)

# Why did this work? We are not changing the original tuple. The result of the
# concatenation is a new tuple. We then reassign our variable to the new tuple.

(255, 255, 255, 0.5)

In [ ]:
'''
Tuples themselves are immutable but their contents are not guaranteed to be
if they are references.
'''
my_list = [1, 2, 3]
tuple_1 = ('a', 'b', my_list)
print(tuple_1)
my_list.append(4)
print(tuple_1)

('a', 'b', [1, 2, 3])
('a', 'b', [1, 2, 3, 4])

In [ ]:
my_value = 5
tuple_2 = ('a', 'b', my_value)
print(tuple_2)
my_value += 2
print(tuple_2)

('a', 'b', 5)
('a', 'b', 5)

In [ ]:
'''
Always best to learn by experimenting. There can be some unexpected behaviour
in how Python works behind the scenes.
'''
my_list = [1, 2, 3]
tuple_3 = ('a', 'b', my_list)
print(tuple_3)

my_list += [4] # my_list is [1, 2, 3, 4]
print(tuple_3)

my_list = my_list + [5, 6, 7] # my_list is [1, 2, 3, 4, 5, 6, 7]
print(tuple_3)

my_new_list = tuple_3[2]
my_new_list += [8]
print(tuple_3)

('a', 'b', [1, 2, 3])
('a', 'b', [1, 2, 3, 4])
('a', 'b', [1, 2, 3, 4])
('a', 'b', [1, 2, 3, 4, 8])